.artist-con1{
    background-image: url('pexels-ekaterina-12203460.png');
}
.artist-con2{
    background-image: url('pexels-genaro-servín-763210.png');
}
.artist-con3{
    background-image: url('pexels-pixabay-164455.png');
}
.artist-con4{
    background-image: url('pexels-steve-johnson-1269968.png');
}
.artist-con5{
    background-image: url('pexels-fiona-art-5022849.png');
}
.artist-con6{
    background-image: url('pexels-fiona-art-5022849.png');
}